body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    /* all the headings before the purple line */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 24px;
    /* identical to box height, or 80% */
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 10px
}

/* Adds vertical space around the header */
header {
    margin: 20px 0px;
}

/* Styles the main header text with no margin and a large font size */
header h1 {
    margin: 0;
    font-size: 32px;
    padding-left: 30px;
}

/* Styles a username span inside the header with a purple color */
header h1 .username {
    color: #A020F0;
 
}

p {
    color: lightslategray;
    font-family: 'Inter', sans-serif;
    padding-left: 32px;
}


main {
    padding: 20px;
}

footer {
    padding: 10px;
    text-align: center;
}

section {
    margin-bottom: 20px;
}

.hr {
    border: none;
    width: 100%;/* Width of the horizontal line */
    border-top: 0.3rem solid #A020F0;/* Line style and color */
}

img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    /* Adjust width as needed */
    height: auto;
    /* Maintain aspect ratio */
    padding-right: 80px;
}