* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes up the full viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem; /* Sets base size for rem units */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 5.5rem; /* Space for the fixed header */
    background-image: url(../landing_page/pictures/wrenchtoys.jpg);
    color: black; /* also changes the colour of the text in the boxes */
}

.hidden {
    display: none;
}

#back-home {
    background-color: #B45C3D;
    color: white;
    border: none;
    padding: 3px 20px;
    margin: 20px auto;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
    box-shadow: 0 0.125rem 0.25rem #000929;
    border-radius: 1.25rem;
    text-decoration: none;
    position: fixed;
    display: inline-flex;
    margin-left: 10px;
}

#back-home:hover {
    background-color: #12222E;
    align-content: center;
}

.hero {
    padding: 60px 0;
    text-align: center;
    color: #fff;
}

h4 {
    font-size: 5rem;
    font-weight: 50%;
    line-height: 110%;
    /* or 70px */
    letter-spacing: -0.01em;
    color: #12222E;
    /*to move a bit lower*/
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 100px;
    text-align: left;
    padding: 40px;
}


.faq {
    padding: 40px;
}

.faq h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.faq-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.faq-item {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    min-width: 250px;
    color: #12222E;
    border-spacing: 0;
    border-radius: 15px;
    padding: 20px;
    font-family: 'Inter', sans-serif;
}

.faq-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: 'Inter', sans-serif;
}

/* article section for when users scroll */
.page-on-home {
    padding: 2rem;
}

.info-section {
    margin-bottom: 4rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: fadeInUp 1s ease-out;
}

.info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.info-text {
    flex: 2;
    margin-right: 2rem;
}

