* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes up the full viewport height */
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem; /* Sets base size for rem units */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 5.5rem; /* Space for the fixed header */
    background-image: url(../landing_page/pictures/wrenchtoys.jpg);
    color: black; /* also changes the colour of the text in the boxes */
}

.hidden {
    display: none;
}

/* Container */
.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto; /* Center the container */
}

/* Images and Iframes */
img {
    max-width: 100%; /* Flexible image: resizes based on container width */
    height: auto;
}

iframe {
    width: 100%;
    height: auto;
}

/* Media Query for Smaller Screens */
@media (max-width: 48rem) { /* 768px */
    .container {
        width: 100%; /* Full width on smaller screens */
    }
}

/* Animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(1.875rem); /* 30px in rem */
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-1.25rem); /* 20px in rem */
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* SECTION 1 */
/* Hero section: Main content area */
.hero {
    padding: 15rem 2rem 21rem 2rem;
}

h2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 5.5rem; /* 65px */
    line-height: 1.1; /* 110% */
    letter-spacing: -0.01em; /* Main Color/Black */
    margin-bottom: 60%; /* Move a bit lower */
    text-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);

    /* Cool animation */
    display: inline-block;
    position: relative;
    overflow: hidden;
}

/* Animation */
h2,
.hero-image {
    display: block;
    opacity: 0;
    transform: translateY(5rem); /* 100% */
    animation: pull-up 1s forwards;
}

h2,
.hero-image:nth-child(1) {
    animation-delay: 0.1s;
}

h2,
.hero-image:nth-child(2) {
    animation-delay: 0.2s;
}

h2,
.words,
.hero-image:nth-child(3) {
    animation-delay: 0.3s;
}

/* Add more delays if necessary */
@keyframes pull-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Headline */
.hero-content h2 {
    /* Adjust size for larger screens */
    margin-bottom: 1rem;
    color: #000929;
    line-height: 1.5;
}

/* Paragraph in hero section */
.hero-content p {
    font-size: 1.5rem;
    color: #000929;
    margin-bottom: 2rem;
    font-weight: 700;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Media Query for Tablets and Smaller Screens */
@media (max-width: 48rem) { /* 768px */
    .hero-content h2 {
        font-size: 2.5rem; /* Adjust headline size */
    }

    .hero-content p {
        font-size: 1rem; /* Adjust text size */
    }

    .hero-image {
        padding-left: 0;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 30rem) { /* 480px */
    .hero {
        flex-direction: column; /* Stack content on smaller screens */
    }

    .hero-content h2 {
        font-size: 2rem; /* Adjust headline size for mobile */
    }

    .hero-content p {
        font-size: 0.9rem; /* Smaller text for mobile */
    }

    .hero-image {
        margin-top: 1.5rem;
        max-width: 100%; /* Ensure the image fits mobile screens */
    }
}

/* Card Section */
.card-section {
    display: flex;
    justify-content: space-around;
    margin: 4rem auto; /* Adjusted to rem */
    max-width: 112.5rem; /* 1800px */
    height: 31.25rem; /* 500px */
}

.card {
    border-radius: 1.25rem; /* 20px */
    padding: 0.5625rem; /* 9px */
    width: 30%;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    color: white;
}

.about {
    color: black;
}

.card:hover {
    transform: translateY(-0.625rem); /* 10px */
}

.card #text {
    margin-bottom: 0.9375rem; /* 15px */
    font-weight: normal;
    word-spacing: 0.125rem; /* 2px */
    margin-top: 1.875rem; /* 30px */
    font-family: 'Inter', sans-serif;
    line-height: 1.1;
}

.highlight {
    color: #B45C3D;
    font-weight: bold;
}

/* Card 1: about us */
.about {
    background-color: #CFDDE9;
}

.about img {
    border-radius: 1.25rem; /* 20px */
    margin-bottom: 0.9375rem; /* 15px */

    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

/* Card 2: what do we do */
.what-wedo {
    background-color: #12222E;
}

.what-wedo img {
    border-radius: 1.25rem; /* 20px */
    margin-bottom: 0.9375rem; /* 15px */

    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

/* Card 3: Tutorials */
.contact {
    background-color: #B45C3D;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

.contact img {
    border-radius: 1.25rem; /* 20px */
    margin-bottom: 0.9375rem; /* 15px */

    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}

#headings {
    font-size: 1.875rem; /* 30px */
}

/* Article section for when users scroll */
.page-on-home {
    padding: 2rem;
}

.info-section {
    margin-bottom: 4rem;
    background: #fff;
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: fadeInUp 1s ease-out;
}

.info-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
}

.info-text {
    flex: 2;
    margin-right: 2rem;
}
