body {
    font-family: Inter, sans-serif;
    /* background: linear-gradient(180deg, rgba(174, 92, 220, 0.2) 0%, rgba(95, 63, 112, 0) 100%); */
    background-color:#CFDDE9;
    margin: 0;
}

/* the header area */
h2 {
    /* all the headings before the purple line */
    font-family: 'Inter';
    font-style: normal;
    font-size: 1.875rem;
    line-height: 1.5rem;
    /* identical to box height, or 80% */
    color: #B45C3D;
    /* text-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25); */
    margin-bottom: 0.625rem;
    text-decoration: underline;
    font-weight: 700;
}

.wordy-things{
    font-weight: 100;
    letter-spacing: 1.1;
}
/* Images and Iframes */
img {
    max-width: 100%; /* Flexible image: resizes based on container width */
    height: auto;
}

iframe {
    width: 100%;
    height: auto;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
    .container {
        width: 100%; /* Full width on smaller screens */
    }
}

#back-link{
    background-color: #B45C3D;
    color: white;
    border: none;
    padding: 3px 20px;
    margin: 20px auto;
    cursor: pointer;
    font-size: 1.5em;
    transition: background-color 0.3s ease;
    box-shadow: 0 0.125rem 0.25rem #000929;
    border-radius: 1.25rem;
    text-decoration: none;
    position: fixed;
    display: inline-flex;
    margin-left: 10px;
}

#back-link:hover {
    background-color: #12222E;
    align-content: center;
}


/* Footer obtained from landing page */
.footer {
    background-color: #12222E; /* Same color as the header */
    color: white;
    padding: 2rem 0; /* Padding for space inside the footer */
    text-align: center; /* Center the content */
    font-family: 'Inter', sans-serif;
    width: 100%;
    position: relative;
    margin-top: auto; /* Pushes the footer to the bottom if content is short */
}

/* Footer Links */
.footer-links {
    display: flex;
    justify-content: center; /* Center the footer links */
    gap: 2rem; /* Space between the links */
    margin-bottom: 1rem; /* Space below the links */
    
}

.footer-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
    color: #B45C3D; /* Same hover effect as other links */
}

/* Footer text (copyright) */
.footer p {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #ddd; /* Lighter text for the copyright */
}

/* Responsive Footer Adjustments */
@media (max-width: 768px) {
    .footer-links {
        flex-direction: column; /* Stack the links vertically on smaller screens */
        gap: 1rem;
    }
}

