html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CFDDE9;
    height: 100vh;  /* Ensure the body takes up the full viewport height */
}

.container {
    display: flex;
    height: 100vh;
    width:100%;
}

/* Highlight the active sidebar link */
/* sidebar section ends here */

.logo {
    font-size: 1.5rem; /* 24px converted to rem */
    font-weight: 700;
    margin-bottom: 1.875rem; /* 30px converted to rem */
}

/* moving ResQue logo to the right */
.logo-container {
    position: absolute;
    top: 20px; /* Adjust the top position as needed */
    right: 70px; /* Adjust the right position as needed */
    z-index: 1000; /* Ensure it stays above other elements */
}

.logo-container img {
    max-width: 100px; /* Adjust the size as needed */
    height: auto;
}

.content {
    padding: 2rem;
    padding-right: 4.5rem;
    position: relative;
    margin-left: 17.5rem; /* Matches the width of the sidebar */
    flex-direction: column;
    overflow-y: auto;
    display: flex;
    flex-grow: 1;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem; /* 20px converted to rem */
}

h1 {
    font-size: 1.75rem; /* 28px converted to rem */
    margin-bottom: 0.625rem; /* 10px converted to rem */
}

/* Styling for ticket type (open, closed or all) within the header */
h1 .ticket_type, .comment_time {
    color: #B45C3D; /* Purple color for type text */
}

.fade-out {
    color: #666;
    margin-bottom: 1.25rem; /* 20px converted to rem */
}

.header-logo {
    width: 6.25rem; /* 100px converted to rem */
    height: auto;
}


/* ticket list and ticket detail section */
/* Flexbox container for ticket list and ticket detail */
.content-wrapper {
    display: flex;
    gap: 2rem;
    height: 100hv;
    width: 100%;
}

.add-ticket {
    background-color: #B45C3D;  /* Purple background */
    color: #fff;  /* White text */
    border: none;  /* No border */
    padding: 15px 20px;  /* Padding for size */
    border-radius: 25px;  /* Rounded corners */
    cursor: pointer;  /* Pointer cursor on hover */
    font-size: 16px;  /* Font size */
    transition: background-color 0.3s ease;  /* Smooth background transition */
    width: 100%;
}
.add-ticket:hover {
    background-color: #B45C3D;  /* Darker purple on hover */
}

.ticket-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto; /* Enables scrolling within each section */
}

/* Make scrollbar so that only 3 tickets are displayed at a time */
.scrollbar {
    width: 100%;
    min-height: 0px;
    max-height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #B45C3D #CFDDE9; /* For Firefox */
}

/* Webkit browsers (Chrome, Safari) */
.scrollbar::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
    background: #CFDDE9; /* Track color */
    border-radius: 10px; /* Rounded corners */
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #B45C3D; /* Scrollbar color */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #CFDDE9; /* Adjust spacing around the thumb */
}

/* Ensure the scrollbar appears on both hover and focus for better visualization */
.scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #924024; /* Darken color on hover for visibility */
}
/* end of scrollbar design */

.ticket-card {
    background-color: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    border: 2px solid transparent;
    transition: border-color 0.3s;
}

.ticket-card:hover {
    border-color: #B45C3D;
}

.ticket-number {
    font-size: 18px;
    font-weight: bold;
}

/* Styles for status: opened, pending and rejected */
.status.opened {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #B45C3D; /* Dark grey text color */
    border: 0.03125rem solid grey; /* Grey border for opened status */
}
.status.confirmed {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: royalblue; /* green text color */
    border: 0.03125rem solid royalblue; /* green border for opened status */
}
.status.requisitioned {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #A020F0; /* green text color */
    border: 0.03125rem solid #A020F0; /* green border for completed status */
}
.status.resolved {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #37b24d; /* green text color */
    border: 0.03125rem solid #37b24d; /* green border for completed status */
}
.status.closed {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: #12222E; /* red text color */
    border: 0.03125rem solid #12222E; /* red border for rejected status */
}
.status.rejected {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14px;
    color: red; /* red text color */
    border: 0.03125rem solid red; /* red border for rejected status */
}


/* Colors for confrimed status circle */
.status.opened .circle {
    background-color: #B45C3D; /* Grey color for opened status circle */
}
.status.confirmed .circle {
    background-color: royalblue; /* green color for confirmed status circle */
}
.status.requisitioned .circle {
    background-color: #A020F0; /* Grey color for opened status circle */
}
.status.status.resolved .circle {
    background-color: #37b24d; /* green color for completed status circle */
}
.status.closed .circle {
    background-color: #12222E; /* red color for rejected status circle */
}
.status.rejected .circle {
    background-color: red; /* red color for rejected status circle */
}

/* Small circular indicators */
.circle {
    border-radius: 50%; /* Circular shape */
    width: 0.4375rem; /* Fixed width */
    height: 0.4375rem; /* Fixed height */
    display: inline-block; /* Inline block display */
}

/* Details button */
.details-button, .comment-button {
    background-color: grey; /* Purple color */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none; /* Removes the underline */
}
/* Details button */
.details-button:hover, .comment-button:hover {
    background-color: #B45C3D; /* Darker purple on hover */
}
/* Details Button For unseen tickets */
.details-button-unseen {
    background-color: #ef3e3e; /* Purple color */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none; /* Removes the underline */
}
/* Details button Unseen */
.details-button-unseen:hover {
    background-color: #ef3e3e; /* Darker purple on hover */
}

.ticket-table {
    width: 100%; /* Adjust the width as needed */
    border-spacing: 0; /* Remove spacing between table cells */
    margin-bottom: 20px;
    
}

.ticket-table tr {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.ticket-table td {
    padding: 15px;
    font-size: 16px;
}

/* Ticket Detail */
.ticket-detail {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    flex: 1;
    flex-direction:column;
    overflow-y: auto; /* Enables scrolling within each section */
}

.ticket-detail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.ticket-detail .ticket-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* flex: 1; */
    margin-top: 1.25rem;  /* 20px */
}

.ticket-detail .ticket-info h3 {
    margin-top: 1.25rem; /* 20px */
    font-size: 1.5rem; /* 24px */
    font-weight: bold;
    color: #333;
}

/* Styling for the table */
.info-table {
    width: 100%;
    border-collapse: collapse;
}

.info-cell {
    width: 33.33%; /* Ensure 3 cells per row */
    padding: 1rem 0; /* Vertical padding */
    text-align: left;
    vertical-align: top;
}

.info-label {
    display: block;
    font-size: 1rem; /* 16px */
    color: #777; /* Light gray for labels */
}

.info-data, .commentor {
    display: block;
    font-size: 1.1rem; /* 20px */
    font-weight: bold;
    color: #333; /* Dark grey for data */
    margin-top: 0.25rem; /* Small space between label and data */
}

.comment-list {
    margin-top: 20px;
}

.comment-bubble {
    background-color: #f0f0f0;  /* Light grey background for the comment bubble */
    padding: 10px;
    border-radius: 10px;  /* Rounded corners to create the bubble effect */
    margin-bottom: 10px;
    max-width: 90%;  /* Ensure the bubble doesn't span too wide */
    word-wrap: break-word;  /* Allow text to wrap within the bubble */
    font-size: 14px;
    color: #333;
}

.comment-bubble strong {
    font-weight: 600;  /* Bold the user name */
    margin-bottom: 5px;
}

.comment-bubble dd {
    margin: 5px 0;
    font-size: 1rem;
}

/* Styling for the delete button */
.delete-button {
    background-color: rgba(18, 34, 46, 0.5); /* Semi-transparent background */
    color: #fff; /* White text color */
    border: none; /* No border */
    padding: 5px; /* Padding for the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.delete-button:hover {
    background-color: rgba(180, 92, 61, 0.8); /* Darker color on hover */
}

/* Carousel container for image viewing */
.carousel {
    position: relative;
    width: 100%; /* Adjust as needed */
    max-width: 600px; /* Maximum width of the carousel */
    margin: auto; /* Center the carousel */
    overflow: hidden; /* Hide overflowing images */
}

/* Container for all slides */
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 400px; /* Set a fixed height for the image display box */
}

.carousel-slide {
    min-width: 100%; /* Each image takes up full width of the carousel */
    transition: transform 0.5s ease-in-out;
}

/* Images in the carousel */
.carousel-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Resize image to fit within the container while maintaining aspect ratio */
}

/* Navigation Buttons */
.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(18, 34, 46, 0.5); /* Semi-transparent background */
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(180, 92, 61, 0.8);
}

/* Style for the delete button in the carousel */
.carousel-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10; /* Ensure it stays above other elements */
    padding: 8px; /* Padding for the button */
}
/* End of carousel container for image viewing */
